body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color:slategrey;
    padding: 20px;
}

#quiz-container {
    background: rgb(219, 213, 213);
    max-width: 500px;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.hidden {
    display: none;
}

#topic {
    margin-bottom: 50px;
}

#start-screen h1 {
    height:40px;
    background-color: rosybrown;
    text-align: center;
    padding: 12px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #218838;
}

#options-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.option {
    background: #007bff;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.option:hover {
    background: #0056b3;
}